nav {
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    margin-right: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu__item {
    padding: 0.25rem;
    margin: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}

.menu__item:hover {
    cursor: pointer;
}

.react-icon {
    vertical-align: middle;
}
