.footer{
    padding: 3rem 10rem 0 10rem;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
    background: #dfdfdf;
    margin-top: 10px;
}

#lower-footer{
    background: #dfdfdf;
    padding: 1rem 10rem;
    color: #00294c;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.footer h4{
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #001525;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

.section{
    text-align: left;
    width: 25%;
    display: inline-block;
}

#section-1{
    width: 50%;
}

.footer-table-row td{
    width: 25%;
    color: #00294c;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.footer-table{
    border-spacing: 0 1rem;
}

#submit-arrow{
    display: inline-block;
    background-color: black;
    height: 34px;
    width: 2.5rem;
    color: white;
    border: 0;
}

#text-box{
    height: 30px;
    width: 9rem;
    border: 1px solid black;
    display: inline-block;
}