.footer{
    padding: 0 10%;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    background: #dfdfdf;
    margin-top: 10px;
}

.section{
    text-align: left;
    width: 25%;
    display: inline-block;
    margin: auto;
}

#section-1{
    width: 50%;
}