/* Custom CSS For WhatsNext Section */

/* Author:  */


.whats_next_content {
    height: 100vh;
    border: 1px solid black;
    margin-top: 10%;
    display: flex;
    flex-flow: column wrap;
}

  .w-100 {
    width: 50%!important
  }
  .d-block {
      display: inline!important;
  }

  .carousel-control-next, .carousel-control-prev{
      background-color: gray;
  }

  .carousel-indicators li {
      background-color: gray;
  }